.cooperation {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  min-height: 75vh;
  padding: 3rem 2rem;
  background: $turqoise;
  @media screen and (min-width: $break-small) {
    flex-flow: row nowrap;
    align-items: center;
  }
}

.cooperationTitle {
  width: 100%;
  margin: 0 0 2rem 0;
  font-size: 2rem;
  line-height: 1.2;
  @media screen and (min-width: $break-small) {
    width: auto;
    padding-right: 1.5rem;
    margin: 0;
  }
}

.cooperationParagraphContainer {
  @media screen and (min-width: $break-small) {
    padding: 0.5rem 0;
    padding-left: 1.5rem;
    border-left: 2px solid $black;
  }
}

.cooperationParagraph {
  margin: 0 0 1rem 0;
  &:last-child {
    margin: 0;
  }
}
