// Media query breaks
$break-small: 544px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

// Colors
$white: #fafafa;
$black: #333333;
$red: #ff0000;
$tomato: #f57153;
$turqoise: #85f7d8;
$blue: #0000ff;
$bluedark: #000075;
$yellow: #fcff83;
$yellowdark: #c1c167;