@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);
@import "variables";
@import "svg-objects";
@import "header";
@import "cooperation";
@import "issue";
@import "solution";
@import "download";
@import "footer";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
}

body {
  background: #fafafa;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

strong {
  font-weight: 700;
}
