{{!-- This PropertyList-file defines all settings for the app; name, version, icons, related filetypes and so on.
I recommend you to not touch it and instead read more on https://github.com/adambrgmn/indebox --}}
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>InDesign® Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>document_icon.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>InDesign® CC 2015.0 Document</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INDD</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDdB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>document_icon.icns</string>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>applet</string>
	<key>CFBundleIconFile</key>
	<string>applet.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ScriptEditor.id.{{name}}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>{{pretty_name}}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>{{version}}</string>
	<key>CFBundleSignature</key>
	<string>iNdD</string>
	<key>CFBundleVersion</key>
	<string>{{version}}</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>x86_64</key>
		<string>10.6</string>
	</dict>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2016 {{author.name}}</string>
	<key>OSAScriptingDefinition</key>
	<string>{{description}}</string>
</dict>
</plist>
