<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>InDesign® Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>ID_DocumentGeneric_icon.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDd3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>ID30_Document_Icon.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS2 Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDd4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>ID40_Document_Icon.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS3 Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDd5</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>ID50_Document_Icon.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS4 Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDd6</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>ID60_Document_Icon.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS5 Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDd7</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>ID70_Document_Icon.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS5.5 Document</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INDD</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDd2</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Document_Icon.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS6.0 Document</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INDD</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDd8</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Document_Icon.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>InDesign® CC.0 Document</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INDD</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDd9</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Document_Icon.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>InDesign® CC 2014.0 Document</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INDD</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDdX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Document_Icon.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>InDesign® CC 2015.0 Document</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INDD</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDdB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Document_Icon.icns</string>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>applet</string>
	<key>CFBundleIconFile</key>
	<string>applet</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ScriptEditor.id.{{name}}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>{{pretty_name}}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>{{version}}</string>
	<key>CFBundleSignature</key>
	<string>iNdD</string>
	<key>CFBundleVersion</key>
	<string>{{version}}</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>x86_64</key>
		<string>10.6</string>
	</dict>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2016 {{author.name}}</string>
	<key>OSAScriptingDefinition</key>
	<string>{{description}}</string>
</dict>
</plist>
